.container {
	width: 100%;
	height: 100%;
	background: #9dbae6;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.form form,
.answer {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form input,
.form select,
.form button,
.answer input,
.answer select,
.answer button {
	padding: 5px;
	border: none;
}

.answer input,
.answer select,
.answer button {
	background: #afffff;
}

.form .submit {
	cursor: pointer;
}
